<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">

<style>
  .message-content {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <h2>Confirmação de <strong>PAGAMENTO</strong>.</h2>

  <p>A nossa organização confirmou o seu pagamento.</p>

  <p>Seja muito bem-vindo(a), {{ name }}, por definitivo ao nosso evento. Como dito anteriormente, a partir daqui você vai embarcar em uma experiência que vai mudar a sua vida. </p>

  <p>Então para não perder nada do que a <strong>IV SEEL</strong> tem para oferecer, fique ligado nas informações a seguir, elas serão extremamente importantes. </p>

  <strong>KIT SEEL</strong>
  <p>
    Caso você seja de Maringá, os produtos estarão disponíveis no fim de semana que antecede o evento, entraremos em contato para agendar a entrega/retirada.
    Na possibilidade de ser de outra cidade, entre em contato com o Lucas Bento, para agendar o envio. O número está disponível no tópico de dúvidas neste e-mail.
  </p>

  <strong>CRONOGRAMA</strong>
  <p>
    Seguiremos o cronograma a risca localizado no site: <a href="https://www.ieeeuem.com.br/seel">SEEL</a>
  </p>


  <strong>SERVIDOR DISCORD</strong>
  <p>
    Criamos um servidor no discord exclusivo para o evento, nele contém alguns canais de voz e terá organizadores 24h para tirar suas dúvidas.
    Link de acesso: <a href="https://discord.gg/uerxGBrpKt">Discord do Ramo</a>
  </p>


  <strong>GOOGLE MEET</strong>
  <p>Os encontros serão exclusivamente pelo link de acesso de cada palestra/curso. Apenas o e-mail que você preencheu no ato da inscrição terá acesso a sala. Caso tente logar com outro, sua autorização será negada.</p>

  <strong>GOOGLE AGENDA</strong>
  <p>Todo o nosso evento será preenchido no google agenda e disponível para os participantes, próximo aos dias do evento. Nele você recebe notificações e avisos de quando as palestras/cursos vão iniciar e também tem acesso ao link da chamada. </p>

  <strong>ABERTURA</strong>
  <p>
    Será feita em uma transmissão pelo nosso canal no YouTube, com a presença de algumas autoridades. Então já segue nosso canal e não deixe de assistir.
    Link de acesso do canal do Ramo:
    <a href="https://bit.ly/3rSZe8M">Canal do Youtube</a>
  </p>

  <strong>DÚVIDAS</strong>
  <p>
    Além do servidor do Discord, dúvidas pontuais podem ser enviadas ao WhatsApp
    <p>(44)99870-1631 - Luan Crozatti.</p>
    <p>(44)99128-4128 - Lucas Bento.</p>
  </p>

  <br />
  <br />
  <br />

  <img src="https://drive.google.com/uc?export=view&id=1PFx0u90ZyYCCfZLGot3kATClS4EJsRrO" width="600" height="300" />

</div>
