<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 21px;
  }

</style>

<div class="message-content">
  <h2>Confirmação de <strong>INSCRIÇÃO</strong></h2>
  <p>
    Bem-vindo(a) ao evento mais esperado do ano. A maior e melhor semana do planeta. A <strong>IV SEEL</strong> está repleta de atrações que prometem mudar a sua vida para sempre.
    Lembrando que apenas após o <strong>PAGAMENTO</strong> a sua presença será totalmente confirmada. <strong>Não se esqueça de mandar o comprovante em nosso e-mail</strong>. Logo após os organizadores confirmarem, você receberá um
    novo e-mail com mais informações sobre o evento.
  </p>
  <br/>
  <p>
    Caso os dados do pagamento não sejam os seus, envie seu nome completo com CPF anexado junto ao comprovante.
    Em caso de 72 horas você não receber o e-mail de confirmação, entre em contato conosco.
    A seguir estão os QRcodes do PicPay e PIX respectivamente caso ainda não tenha pago.
  </p>
  <br/>
  <p>
    Aguardamos sua presença ansiosamente.
  </p>

  <br />
  <br />

  <h3>PicPay</h3>
  <img src="https://drive.google.com/uc?export=view&id=1VrnJiO-lqXnyI3ycF8pbiX_Pp_qbVJ3N" alt="picpay" width="190px" height="190px" style="cursor: pointer;">

  <h3>PIX</h3>
  <img src="https://drive.google.com/uc?export=view&id=1Gw6k7slAoQRPxb9b8iBcg9X_OG1KNu4z" alt="pix" width="190px" height="190px" style="cursor: pointer;">

  <br />

  <div dir="ltr"><a href="https://www.ieeeuem.com.br/seel" target="_blank"></a>
    <table border="0" cellspacing="15" cellpad=ding="0" width="650" style="color:rgb(34,34,34);width:487.5pt">
      <tbody=>
        <tr>
          <td width="105" style="width:78.75pt;padding:0.75pt">
            <p class="M=soNormal" style="text-align:left"><u><a href="https://www.ieeeuem.com.br/seel"
                  target="_blank"><img src="https://docs.google.com/uc?export=download&id=1ErOj63ipJNTSgrS_t2ZaAhHAfjctXevb" width="96" height=="44"></a></u></p>
            <p class="MsoNormal" style="text-align:left"><br></p>
            <p class="MsoNormal" style="text-align:left"><br></p>
              <p class="MsoNorm=al" style="text-align:left"><br></p>
          </td>
          <td width="250" style="width=:187.5pt;padding:0.75pt 0.75pt 0.75pt 3.75pt"><b><span
                style="font-size:8=.5pt;font-family:Arial,sans-serif">Semana de Engenharia Elétrica</span=>
                </b><br>Ramo Estudantil IEEE UEM<br>
            <p class="MsoNormal" style="line-h=eight:10.5pt"><span
                style="font-size:8.5pt;font-family:Arial,sans-serif">
                Universidade Estadual de Maringá - PR</span></p>
            <p class="MsoNormal"=style="line-height:10.5pt"><span
                style="font-size:8.5pt;font-family:Ar=ial,sans-serif"><br></span></p>
            <p class="MsoNormal" style="line-height:=10.5pt"><span
                style="font-size:8.5pt;font-family:Arial,sans-serif"><br><span>
            </p>
            <p class="MsoNormal" style="line-height:10.5pt"><a href=="http://www.obrashow.com.br/"
                target="_blank"><img src="https://drive.google.com/uc?id=1qdfu3XvhINgm7F3670lW6V7UZ60XnkUl&export=download" width="96"
                  height="34"></a><a href="http://www.sebrae.com.br" target="_blank"><img
                  src="https://docs.google.com/uc?export=download&id=1Zx6h9vLbFSNDlmhdAn33aVbrfPaolPsM"
                  width="96" height="51"></a><a href="https://moranprojetos.com.br/" target="_blank">
                <img src="https://drive.google.com/uc?export=view&id=1AVxELD0b120PAoY9mJ3W-O5afiyKkiR-" width="96"
                  height="53">
              </a><a href="http://www.ctc.uem.br/" target="_blank"><img
                  src="https://docs.google.com/uc?export=download&id=1uxptK4b5GQjCH5_261JKsZ1OXHtqL2H8"
                  width="96" height=="19"></a>
              <a href="https://www.revestacabamentos.com.br/" target="_blank"><img
                  src="https://docs.google.com/uc?export=download&id=1AEhs2aUEfo6wNE3A8jLgAVKgnDTWKch8"
                  width="96" height=="19"><img src="https://drive.google.com/uc?export=view&id=1jsp4WLuZOQlSPu-Lsf1VMhlijxjMuyYm"
                  width="96" height="35">
              </a>
              <br>
            </p>
          </td>
        </tr>
        </t>
      </table><a href="https://www.ieeeuem.com.br/seel" target="_blank">
    </div>
  </div>


</div>
