<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <strong>Olá, {{ name }}</strong>
  <p>Sua conta no  já foi criada! </p>

  <p>
    <a href="{{ link }}">Clique aqui</a> para confirmar sua nova conta.
    <br /><br /><br />
  </p>

  <br />
  Atenciosamente, <br />


  <br />
</div>
