<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">

<style>
  .message-content {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 21px;
  }

</style>

<div class="message-content">
  <h2>Confirmação de <strong>INSCRIÇÃO</strong></h2>
  <p>
    Bem-vindo(a), {{ name }}, ao evento mais esperado do ano. A maior e melhor semana do planeta. A <strong>IV SEEL</strong> está repleta de atrações que prometem mudar a sua vida para sempre.
    Lembrando que apenas após o <strong>PAGAMENTO</strong> a sua presença será totalmente confirmada. <strong>Não se esqueça de mandar o comprovante em nosso e-mail</strong>. Logo após os organizadores confirmarem, você receberá um
    novo e-mail com mais informações sobre o evento.
  </p>
  <br/>
  <p>
    Caso os dados do pagamento não sejam os seus, envie seu nome completo com CPF anexado junto ao comprovante.
    Em caso de 72 horas você não receber o e-mail de confirmação, entre em contato conosco.
    A seguir estão os QRcodes do PicPay e PIX respectivamente caso ainda não tenha pago.
  </p>
  <br/>
  <p>
    Aguardamos sua presença ansiosamente.
  </p>

  <br />

  <h3>PicPay</h3>
  <img src="https://drive.google.com/uc?export=view&id=1VrnJiO-lqXnyI3ycF8pbiX_Pp_qbVJ3N" alt="picpay" width="190px" height="190px" style="cursor: pointer;">

  <h3>PIX</h3>
  <img src="https://drive.google.com/uc?export=view&id=1Gw6k7slAoQRPxb9b8iBcg9X_OG1KNu4z" alt="pix" width="190px" height="190px" style="cursor: pointer;">

  <br />
  <br />
  <br />

  <img src="https://drive.google.com/uc?export=view&id=1PFx0u90ZyYCCfZLGot3kATClS4EJsRrO" width="600" height="300" />

</div>
